<p>
  <h2>Actas</h2>  
</p>
<table class="table" id="tacactasFirmantes" >
  <thead class="tabla-color">
    <tr>
      <th scope="col">Acta</th>
      <th scope="col">Sede</th>
      <th scope="col">Firmante</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     <% @tacactasFirmantes.each do |acta| %>
    <tr>
      <td><%= acta.numero_acta%></td>
      <td><%= acta.sede%></td>
      <td><%= acta.nombre_completo%></td>
      <td><%= link_to "", generate_pdf_path(:generar => acta.id, format: :pdf ), :class => "btn btn-info fa fa-print", :title => "Generar" %> </td>
      
    </tr>
     <% end %>
  </tbody> 
</table>

<script>
  
  $('#tacactasFirmantes').dataTable({
    language: traduceDataTable()
  });
  
</script>
