<div class='nested-fields'>
  <div class="field">
    <%= f.hidden_field :tac_juramentado_id, :value => @usuarioId %>
  </div> 
  <div class="field" id="asd">
    <%= f.label :materias %>
    <%=f.select :tac_materia_id, {}, {include_blank: true}, {class: 'materias'} %>
  </div>  
  <%= link_to_remove_association "", f, :class => "button tiny alert rounded bordered shadow fi-x ",:title => "Eliminar Materia" %>
</div>