* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #EEE2E2;
	color: black;
	font-family: "Arial";
}

.contenedor {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 90%;
	grid-template-rows: (3, auto);
	grid-template-areas: "header header"
						 "nav main "
						 "footer footer "
}

.contenedor header,
.contenedor main,
.contenedor nav,
.contenedor footer {
	background: white;
	padding: 20px;
}

.contenedor header{
	  
	background: rgba(109,0,25,1);
	background: -moz-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(56%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,41,1)));
	background: -webkit-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -o-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -ms-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
	color: white;
	padding: 10px;
	border-left: 4px solid #2e353d;
	grid-area: header;
	height: 100px;
}

.logo {
	margin: 0px;
	padding: 0px;
	width: 180px;
	height: 70px;
}
.contenedor div h4 {
	text-align: right;
	float: right;
	position: relative;
	bottom: 50px;
}
.contenedor main {
	grid-area: main;
	height: 100%;
	min-height: 788px;
	background: #f7f7f7;
	padding: 45px;
	
}

.contenedor nav{
	background: #72001a;
	color: white;
	grid-area: nav;
	border-left: 4px solid #2e353d;
	padding: 0px;
	margin: 0px;
	width: 200px;
	display: block ;
	border-right: 10px;
}

.contenedor nav ul {
  margin: 0px;
  padding: 0px;
}

.contenedor nav ul li {
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 20px;
	padding-left: 0px;
 	margin: 0px;
 	line-height: 35px;
 	cursor: pointer;
 	padding: 2px;
 	border-bottom: 1px solid #23282e;
}

.contenedor nav ul li:hover {
	background: #4C1516;
	border-left: 1px solid #ffffff; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.contenedor nav ul li a {
	text-decoration: none;
	color: white;
}
.contenedor nav ul li a:visite {
	background: #4C1516;
}

.contenedor nav ul li a span{
	padding: 5px;
}

.flecha {
	position: relative;
	float: right;
	top: 6px;
	right: 6px;
}

.subMenu {
	display: none;
	background: #181c20;
}

.contenedor footer{
	background: rgba(109,0,25,1);
	background: -moz-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(56%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,41,1)));
	background: -webkit-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -o-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -ms-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
	color: white;
	text-align:center;
	grid-area: footer;
	width: auto;
	border-left: 4px solid #2e353d;
	height: 64px;

}

.footer {
	font-size: 12px;
	line-height : 3px;
}

.despliegue {
	display: none;
	padding-right: 40px;
}
@media screen and (max-width: 1854px) {
	.contenedor main {
		padding-left: 60px;
	}
}

@media screen and (max-width: 1500px){
	.contenedor {
		grid-template-areas: "header header "
						 	 "nav main "
						 	 "footer footer"
	}
	
	.contenedor main {
		padding-left: 100px;
	}
	
}

@media screen and (max-width: 1076px){
	.contenedor main {
		padding-left: 150px;
	}
}


@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header "
						 	 "nav nav "
						 	 "main main "
						 	 "footer footer"
	}

	.contenedor main {
		padding: 20px;
	}

	.contenedor nav {
		display: none;
		width: auto;
		background: rgba(109,0,25,1);
		background: -moz-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(56%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,41,1)));
		background: -webkit-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
		background: -o-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
		background: -ms-linear-gradient(left, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
		background: linear-gradient(to right, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
	}

	.contenedor footer {
		border-left: 0px;
	}

	.despliegue {
		text-align: right;
		float: right;
		padding-top: 48px;
		display: block;
	}
	.contenedor header {
		height: 130px;
	}

	.contenedor header h4 {
		float: left;
		position: relative;
		margin-top: 55px;

    }
    .logo {
    	position: relative;
    }
}
