/*
Color Principal: #75001b
Color complementario: #007512
*/
body {
	background: #f7f7f7;
	color: black;
	font-family: Arial;
}

ul li a {
	color: white !important;
}
ul li:hover {
	color: white !important;
	background: #5F071B !important;
}

.contenedor {
	min-height: calc(100vh - 54.38px - 167.45px)
}
.menuBackground {
	background: #75001b;
}

.subMenu {
	background: #181c20;
	border:#181c20;
	color: white;
}

.backroundColorPrincipal {
	background: #75001b;
	color: white;
}

.buttonColor {
	background: #75001b;
	color: white;
}

.buttonColor:hover {
	color: white !important;
	background: #5F071B !important;
}

.buttonColor:active {
	background: #75001b;
	color: white;
}

.footer {
	background-color: #181c20;
	color: #f7f7f7;
	padding: 20px;
	
}

/*
@media screen and (max-width: 1280px) {
	.footer {
		margin-top: 148px;
	}
}

@media screen and (max-width: 900px) {
	.footer {
		margin-top: 0px;
	}
}

*/